/* INTRODUCTION */

.introduction{
    background-color: aquamarine;
}

.introduction h1{
    padding-top: 5%;
}

.introduction h1, .introduction h2{
    text-transform: uppercase;
}

.introduction h2{
    margin-bottom: 5%;
}

/* .namibia-infos */

#namibia-drapeau img{
    width: 200px;
    margin-top: 50px;
}

.namibia-infos-tx p{
    font-size: 14px;
    text-indent: 30px;
    line-height: normal;
    text-align: left;
}

.namibia-infos-tx{
    width: 60%;
}

.namibia-infos{
    display: flex;
    flex-direction: row;
    margin-left: 15%;
}

#namibia-symbols img{
    width: 200px;
    margin-top: 40px;
}

#namibia-symbols{
    display: flex;
    flex-direction: column;
}

.namibia-symbols-infos{
    display: flex;
    flex-direction: row;
    margin-left: 15%;
}

/* Slider d'images */

.mySlides {
    display:none;
    border-radius: 10px;
}

.N-Slides-content{
    margin-left: 25%;
    margin-top: 5%;
}

.slide-btn-center{
    margin-left: 40%;
}

/* Présentation */

#presentation1 img, #presentation2 img{
    border-radius: 10px;
    height: 250px;
}

.presentation p{
    text-indent: 30px;
    line-height: normal;
    text-align: left;
    margin-left: 20px;
    width: 300px;
}

.presentation{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 10%;
    margin-top: 5%;
}

/* ASIDE 1 */

.old-articles{
    margin-top: 45vh;
    margin-right: 2.5%;
}

.old-articles h3{
    color: blue;
    font-size: 1em;
    margin-left: 30px;
    width: 100px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: black 1px solid;
}

#old-img img{
    width: 100px;
    height: 130px;
    border-radius: 5px; 
}

.old-art1 a, .old-art2 a,
.old-art3 a, .old-art4 a{
    text-decoration: none;
}

.old-art1 a h4, .old-art2 h4,
.old-art3 a h4, .old-art4 a h4{
    color: black;
    width: 100px;
    font-size: 11px;
    margin-left: 40px;
} 

.old-art1, .old-art2, .old-art3, .old-art4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: nowrap;
    margin-top: 15vh;
    margin-right: -10vh;
}

.old-art1 p, .old-art2 p, .old-art3 p, .old-art4 p{
    margin-top: -1%;
    font-size: 10px;
    text-align: left;
    margin-left: 25px;
} 

/* ASIDE 2 */

.new-articles{
    margin-top: 45vh;
}

.new-articles h3{
    color: blue;
    font-size: 1em;
    margin-left: 50px;
    width: 145px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: black 1px solid;
}

#new-img img{
    width: 150px;
    height: 100px;
    border-radius: 5px;
}

.new-art1 a, .new-art2 a,
.new-art3 a, .new-art4 a{
    text-decoration: none;
}

.new-art1 a h4, .new-art2 a h4,
.new-art3 a h4, .new-art4 a h4{
    color: black;
    width: 145px;
    font-size: 11px;
    margin-left: 40px;
} 

.new-art1, .new-art2, .new-art3, .new-art4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: nowrap;
    margin-top: 15vh;
    margin-left: 25px;
}

.new-art1 p, .new-art2 p, .new-art3 p{
    margin-left: 40px;
    margin-top: -1%;
    font-size: 10px;
}

.new-art4 p{
    text-align: left;
    margin-left: 40px;
    margin-top: -1.5%; 
    font-size: 10px;
}

/* MAIN-CONTENT */

.main-content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    overflow: auto;
    
}

main h2{
    text-transform: uppercase;
    font-size: 2.5em;
    padding-top: 15px;
    padding-bottom: 2.5%;
}

/* MAIN */

#art-img img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin-top: 20%;
}

.art-content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    overflow: auto;
    margin-top: 20px;
}

.art-content p{
    width: 85%;
    line-height: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    margin-left: 20px;
    margin-top: 15px;
    text-align: left;
}

.art1, .art2, .art3, .art4, .art5, .art6{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: 5%;
}

.art1 a, .art2 a, .art3 a, .art4 a, .art5 a, .art6 a{
    text-decoration: none;
    text-align: center;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-left: 30%;
}

.art1 a:hover, .art2 a:hover, .art3 a:hover, .art4 a:hover, .art5 a:hover, .art6 a:hover {
    color: rgb(35, 228, 35);
}

.art1 h3, .art2 h3, .art3 h3, .art4 h3, .art5 h3, .art6 h3{
    color: rgb(35, 228, 35);
    margin-left: 15%;
}

.content1, .content2, .content3{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    overflow: auto;
    margin-bottom: 2.5%;
}

/* BUDGET VOYAGE EN NAMIBIE */

.namibie-budget-voyage{
    margin-top: 5%;
}

#monnaie1 img{
    width: 200px;
    margin-top: 50px;
}

#monnaie1{
    display: flex;
    flex-direction: column;
}

.namibie-article1 p, .namibie-article2 p{
    font-size: 14px;
    text-indent: 30px;
    line-height: normal;
    text-align: left;
}

.namibie-budget-articles{
    width: 60%;
}

.namibie-budget-tx{
    display: flex;
    flex-direction: row;
    margin-left: 20%;
}

#monnaie2 img{
    width: 200px;
    margin-top: 60%;
}

table{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    border: 1px black solid;
    border-collapse: collapse;
    margin-bottom: 50px;
    width: 60%;
}

table caption{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10%;
}

tr{
    border: 1px black solid;
    height: 50px;
}

th{
    width: 200px;
    border: 1px black solid;
}

td{
    border: 1px black solid;
    text-align: center;
}

.budget2{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
}